/*Обнуление*/
*{padding: 0;margin: 0;border: 0;}
*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: inherit;}
/*--------------------*/

body{
	background: url('../img/background.svg') 106px 142px no-repeat;
	background-color: #e8e8e8;
	font-family: "Arial MT";
}

.content{
	padding-top: 168px;
	padding-bottom: 137px;
	margin: 0 auto;
	max-width: 841px;
}
.content-top{
	text-align: center;
}
.content-top__theme{
	opacity: 0.6;
	color: #273d46;
	line-height: 40px;
	text-transform: uppercase;
	letter-spacing: 2.8px;
}
.content-top__title{
	color: #273d46;
	font-size: 36px;
	line-height: 50px;
	max-width: 725px;
	margin: 0 auto;
}
.content-bottom__title{
	color: #273d46;
	font-size: 28px;
	line-height: 50px;
	max-width: 725px;
	margin: 0 auto;
}

.content-image{
	margin-top: 67px;
	box-shadow: 0 15px 65px rgba(15, 16, 16, 0.15);
}
.content-image__item{
	padding: 10px;
}

.content-bottom{
	margin-top: 85px;
	margin-left: 44px;
	max-width: 736px;
}

.content-bottom__text{
	opacity: 0.8;
	color: #273d46;
	font-size: 24px;
	line-height: 40px;
}

.content-bottom-info{
	margin-top: 45px;
	margin-left: -3px;
}

.content-bottom-info__list li{
	opacity: 0.8;
	color: #273d46;
	padding-left: 36px; 
	margin-top: 9px; 
	line-height: 36px;
	font-size: 24px;
	background: url('../img/check.png') left no-repeat;
}


.content-bottom-git__button{
	display: flex;
	float: left;
	margin-top: 59px;
	height: 44px;
	padding: 0px 30px;
	background-color: #80b7b3;
	border-radius: 30px;

	color: #ffffff;
	line-height: 40px;
	text-transform: uppercase;
	letter-spacing: 2.8px;
}


.content-bottom-git__button span{
	padding-right: 30px;
	background: url('../img/arrow.svg') right no-repeat;
}

.content-bottom-blog__button{
	display: flex;
	float: right;
	margin-top: 59px;
	height: 44px;
	padding: 0px 30px;
	background-color: #80b7b3;
	border-radius: 30px;

	color: #ffffff;
	line-height: 40px;
	text-transform: uppercase;
	letter-spacing: 2.8px;
}
