<!-- Сообщаем браузеру как стоит обрабатывать эту страницу -->
{% load static %}
<!DOCTYPE html>
<html lang="ru">
	<!-- Заголовок страницы, контейнер для других важных данных (не отображается) -->
	<head>
		<!-- Заголовок страницы в браузере -->
		<title>Portfolio</title>
		<!-- Подключаем CSS -->
		<link rel="stylesheet" href="{% static 'homepage/css/style.css'%}" />
		<!-- Кодировка страницы -->
		<meta http-equiv="Content-type" content="text/html;charset=UTF-8" />
	</head>
	<!-- Отображаемое тело страницы -->
	<body>
		<div class="content">
			<div class="content-top">
				<div class="content-top__theme">Portfolio</div>
				<h1 class="content-top__title">Hello, I'm Kirill Fedorenko</h1>
				<h2 class="content-bottom__title">Web Backend Developer</h2>
			</div>

			<div class="content-image">
				<div class="content-image__item">
					<img src="{% static '/homepage/img/image.jpg' %}">
				</div>
			</div>

			<div class="content-bottom">
				<div class="content-bottom__text">
					<p>I'm Kirill Fedorenko, a web developer based in Rostov-on-Don. As a BackEnd designer I care about our dear users, rapid prototyping, design systems!</p><br>
					<p>I'm a student of the Faculty of Physics of the Southern Federal University but I try to devote my free time to  programming and web development.</p><br>
					<p>I am involved in programming for many years . So have knowledge in:</p>
				</div>
				<div class="content-bottom-info">
					<div class="content-bottom-info__list">
						<ul>
							<li>Python</li>
							<li>Python Django</li>
							<li>OOP</li>
							<li>SQL</li>
						</ul>
					</div>
					<div class="content-bottom__text">
						<p><br>My scientific work has always been very closely related to programming. Here are my most significant science works in the last two years.</p><br>
						<p> It was developed programs :</p>
					</div>	
					<div class="content-bottom-info">
						<div class="content-bottom-info__list">
							<ul>
								<li>To solve Thompson problem;</li>
								<li>To superimpose the Voronoi division into healthy and malignant epithelial monolayers;</li>
								<li>To superimposing Voronoi triangulation on spherical structures;</li>
								<li>The capsid envelope of the papillomavirus was also modeled.</li>
							</ul>
						</div>
					<a href="https://github.com/FedorenkoKirill">
					<div class="content-bottom-info__button">
						<span>My GitHub</span>
					</div>
					</a>
				</div>
			</div>
		</div>
	</body>
</html>