<!-- Сообщаем браузеру как стоит обрабатывать эту страницу -->
{% load static %}
<!DOCTYPE html>
<html lang="ru">
	<!-- Заголовок страницы, контейнер для других важных данных (не отображается) -->
	<head>
		<!-- Заголовок страницы в браузере -->
		<title>My Blog</title>
		<!-- Подключаем CSS -->
		<link rel="stylesheet" href="{% static 'blog/css/style.css'%}" />
		<!-- Кодировка страницы -->
		<meta http-equiv="Content-type" content="text/html;charset=UTF-8" />
	</head>
	<!-- Отображаемое тело страницы -->
	<body>
		<div class="content">
			<div class="content-top">
				<div class="content-top__theme">My Blog</div>
			</div>
			{% for el in posts %}
			<div class="content-bottom">
				<div class="content-bottom__theme">{{ el.title }}</div>
				<p class="content-bottom__text">{{ el.text }}</p>
			</div>
			{% endfor %}
			
			<a href="../">
			<div class="content-bottom-home__button">
				<span>Home</span>
			</div>
			</a>
		</div>
	</body>
</html>